body {
  font-family: Tahoma;
}

.header-img {
max-width: 25px;
max-height: 25px;
margin: 12.5px;
}

.footer-img {
max-width: 50px;
max-height: 50px;
margin: 12.5px 12.5px 0px 12.5px;
}


#top-navbar{
  background-color: rgb(34,183,205);
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 16px;
}

div.panel-body {
  background-color: rgb(34,183,205);
}

#climbandform {
  background-image: url('http://www.rainbowhouseclub.com/Imgs/2/635837054012292903_index1.jpg');
  background-size:100% auto;
}
