<h1>Courses</h1>

<ul>
    <% @courses.each do |course| %>
        <li>
            <span><strong> <%= course.name %> </strong> - <%= course.category %></span>
            <%= link_to "See more...", course_path(course.id) %>
        </li>
    <% end %>
</ul>
